/** Embedded SVGs for all chess pieces */
.cg-wrap piece.p-piece.white {
    background-image: url('../imgs/red_pawn.svg');
}
.cg-wrap piece.b-piece.white {
    background-image: url('../imgs/red_elephant.svg');
}
.cg-wrap piece.n-piece.white {
    background-image: url('../imgs/red_horse.svg');
}
.cg-wrap piece.r-piece.white {
    background-image: url('../imgs/red_chariot.svg');
}
.cg-wrap piece.a-piece.white {
    background-image: url('../imgs/red_advisor.svg');
}
.cg-wrap piece.c-piece.white {
    background-image: url('../imgs/red_cannon.svg');
}
.cg-wrap piece.k-piece.white {
    background-image: url('../imgs/red_king.svg');
}
.cg-wrap piece.m-piece.white {
    background-image: url('../imgs/red_chariot.svg');
}

.cg-wrap piece.p-piece.black {
    background-image: url('../imgs/black_pawn.svg');
}
.cg-wrap piece.b-piece.black {
    background-image: url('../imgs/black_elephant.svg');
}
.cg-wrap piece.n-piece.black {
    background-image: url('../imgs/black_horse.svg');
}
.cg-wrap piece.r-piece.black {
    background-image: url('../imgs/black_chariot.svg');
}
.cg-wrap piece.a-piece.black {
    background-image: url('../imgs/black_advisor.svg');
}
.cg-wrap piece.c-piece.black {
    background-image: url('../imgs/black_cannon.svg');
}
.cg-wrap piece.k-piece.black {
    background-image: url('../imgs/black_king.svg');
}
